/* _content/ExpenseTracker_Capstone/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar[b-ntn5cjhqpg] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
}

a.navbar-brand[b-ntn5cjhqpg] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #2c2e50;
    font-weight: 600;
    font-size: 1.5rem;
}


.btn-primary[b-ntn5cjhqpg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ntn5cjhqpg], .nav-pills .show > .nav-link[b-ntn5cjhqpg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ntn5cjhqpg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ntn5cjhqpg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ntn5cjhqpg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ntn5cjhqpg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ntn5cjhqpg] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
