@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Expense Tracker</h1>
    <p>Track your Expenses and take control of your finances.</p>
    <a asp-controller="Expenses" asp-action="Create" class="btn btn-dark">Add Expenses</a>
</div>

    
